[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "litRiddle"]
	path = litRiddle
	url = https://github.com/cran/litRiddle
	shallow = true
	registered = true
[submodule "stylo"]
	path = stylo
	url = https://github.com/computationalstylistics/stylo
	shallow = true
	registered = true
[submodule "tidystopwords"]
	path = tidystopwords
	url = https://github.com/computationalstylistics/tidystopwords
	shallow = true
	registered = true
